<!-- User Registration Page -->

<!-- nav bar: /home /services /contact /reviews /login /REGISTER-->

<!-- user info -->
  <input [(ngModel)]="newUser.firstname" placeholder="first name"/>
  <input [(ngModel)]="newUser.lastname" placeholder="last name"/>
  <input [(ngModel)]="newUser.email" placeholder="email"/>
  <input [(ngModel)]="newUser.password" placeholder="password"/>
  <input [(ngModel)]="newUser.phone" placeholder="phone number"/>
  <input [(ngModel)]="newUser.street" placeholder="street address"/>
  <input [(ngModel)]="newUser.city" placeholder="city"/>
  <input [(ngModel)]="newUser.state" placeholder="state"/>
  <input [(ngModel)]="newUser.zip" placeholder="zip code"/>
  <button (click)="postUser()">Submit</button>

<!-- or login here -->
<a href = "/login">Log In Here</a>
