	<div class="serviceTable">
		<h3 class = "sectionHeader">Service Area</h3>
		  <p id = "serviceArea">We service Chicago's South Loop Neighborhood: Congress to the Stevenson
				and the Chicago River to Lake Michigan.</p>
			<div class = "map">
			  <img class = "serviceMap" src = "../../assets/map.jpeg"/>
		  </div>
		<h3 class = "sectionHeader">Standard Services</h3>
			<p id = "serviceDescription">All in home visits include filling up food and
				water as well as scooping litter. Any additional time will be spent
				giving your cat whatever attention they're interested in: play-time,
				lap time or just talking about their day</p>
		<table>
			<tr>
				<th>Service</th>
				<th>Fee</th>
			</tr>
			<tr>
				<td class = "service">Cat Visit: 30 min</td>
				<td class = "fee">$20</td>
			</tr>
			<tr>
				<td class = "service">Cat Visit: 45 min</td>
				<td class = "fee">$30</td>
			</tr>
			<tr>
				<td class = "service">Cat Visit: 60 min</td>
				<td class = "fee">$40</td>
			</tr>
			<tr>
				<td class = "service">Litter Change</td>
				<td class = "fee">$10</td>
			</tr>
			<tr>
				<td class = "service">Adminiser Medicine</td>
				<td class = "fee">$5</td>
			</tr>
			<tr>
				<td class = "service">Holiday or Last-Minute</td>
				<td class = "fee"> + $10</td>
			</tr>
			<tr>
				<td class = "service">Before 9am or after 6pm</td>
				<td class = "fee"> + $10</td>
			</tr>
		</table>
		<p>We're happy to take care of birds, bunnies, or most other types of indoor pets!</p>
		<p>We accept cash, checks or paypal</p>
</div>
