	<div class="serviceTable">
		<table>
			<tr>
				<th>Service</th>
				<th>Description</th>
				<th>Fee</th>
			</tr>
			<tr>
				<td>Cat Visit: 30 min</td>
				<td>Food and water refill, litter scoop and playtime!</td>
				<td>$20</td>
			</tr>
			<tr>
				<td>Cat Visit: 45 min</td>
				<td>Everything in a 30 minute visit, but extra playtime!</td>
				<td>$30</td>
			</tr>
			<tr>
				<td>Cat Visit: 60 min</td>
				<td>Everything in a 45 minute visit, but an extra conversation segment</td>
				<td>$40</td>
			</tr>
			<tr>
				<td>Litter Change</td>
				<td></td>
				<td>$10</td>
			</tr>
			<tr>
				<td>Adminiser Medicine</td>
				<td></td>
				<td>$5</td>
			</tr>
			<tr>
				<td>Holiday or Last-Minute</td>
				<td></td>
				<td> + $10</td>
			</tr>
		</table>
		<p>We're happy to take care of birds, bunnies, or most other types of indoor pets!</p>
		<p>We accept cash, checks or paypal</p>
</div>
