<h2>South Loop Cat Care</h2>
<p>I'm Amber, owner of South Loop Kitty Services. I've been an animal lover my
  entire life and a caregiver almost as long. I was always the kid bringing an
  animal home. At the age of 4 I told my mom I was going to be a vegetarian. She
  thought it would pass, but 30 some years later...</p>
<p>I've been a caregiver almost my entire working career. I started out in a group
  home for disabled adults before becoming a special education teacher specializing
  in childred with autism. A family hired me away to work with their child one
  on one as a nanny, and I transitioned to that career for the past 10 years.

<p>I've had and cared for a variety of pets over the years, but cats have always
  been my favorite. I rescued my guy Oliver almost 11 years ago and together the
  two of us fostered a number of kittens. Through my fostering, I convinced
  my now husband, Greg, to foster a cat, Clair. Greg's cat Jack formed an
  immediate bond with the shy foster, and Greg decided to adopt her. Then we
  moved in together. We are at our capacity for cats and home, so I'm branching 
  out to get my kitty fix!</p>
