<h2>South Loop Cat Care</h2>
<p>I'm Amber, owner of South Loop Kitty Services. I've lived in Chicago\'s South
  Loop for the past four years. I've been a caregiver almost since my very first job.
  I've worked as a caregiver in group homes for disabled adults, as a special
  education teacher, and most recently as a nanny. I've been an animal lover my entire
  life - at the age of 4 I informed my mom I was a vegetarian. I'm not sure I
  really knew what a vegetarian was at that age, but 30 some years later, I've
  stuck to my word.</p>

<p>I've had and cared for a variety of pets over the years, but cats have always
  been my favorite. I rescued my guy Oliver almost 11 years ago and together the
  two of us fostered a number of kittens. Through my fostering, I convinced
  my now husband, Greg, to foster a cat, Clair. Greg's cat Jack formed an immediate
  bond with the shy foster, and Greg decided to adopt her. Then we moved in together.
  We are at our capacity for cats and home, so I'm branching out to get my kitty fix!.</p>
