<div class = "container">
  <div class = "logout" (click)="logout()">Logout</div>
  <div class = "navbar">
    <ul class = "nav-tabs">
      <li class = "nav-link"><a [routerLink] = "['/home']">Home</a></li>
      <li class = "nav-link"><a [routerLink] = "['/services']">Services</a></li>
      <li class = "nav-link"><a [routerLink] = "['/contact']">Contact Us</a></li>
      <li class = "nav-link"><a [routerLink] = "['/appointment']">Appointments</a></li>
      <li class = "nav-link"><a [routerLink] = "['/profile']">Profile</a></li>
      <li class = "nav-link"><a [routerLink] = "['/login']">Login</a></li>
    </ul>
  </div>
  <div class = "main">
    <router-outlet></router-outlet>
  </div>
  <div class = "footer">
    <div class = "social media">
      <div class="footer-contact">
        <a href="http://www.facebook.com"><img alt="facebook" id="fb" src="../../assets/fb.png"></a>
      </div>
      <div class="footer-contact">
        <a href="http://www.instagram.com"><img alt="instagram" id="instagram" src="../../assets/instagram.jpeg"></a>
      </div>
      <div class="footer-contact">
        <a href="http://www.twitter.com"><img alt="twitter" id="twitter" src="../../assets/twitter.jpeg"></a>
      </div>
    </div>
    <div>
      <p id = "copyright">&copy; 2017 <a href = "http://www.gregwilwerding.com">Greg Wilwerding</a></p>
      <p class = "sitterlink"><a [routerLink] = "['/sitterlogin']">sitters</a></p>
    </div>
  </div>
</div>
