<!-- User Profile Page -->

<!-- nav bar: /home /services /contact/ PROFILE-->

<!-- Hi {{user.firstname}} -->
<div class = "userProfile">
  <div class = "profileHeader">
    <h2>Hi {{user.firstname}}</h2>
    <div (click)="showUserPatchForm = !showUserPatchForm">Update Profile</div>
  </div>
  <div class = "profileUpdate">
    <div *ngIf="showUserPatchForm">
      <input [(ngModel)]="updateUser.firstname" placeholder={{user.firstname}}/>
      <input [(ngModel)]="updateUser.lastname" placeholder={{user.lastname}}/>
      <input [(ngModel)]="updateUser.email" placeholder={{user.email}}/>
      <input [(ngModel)]="updateUser.password" placeholder={{user.password}}/>
      <input [(ngModel)]="updateUser.phone" placeholder={{user.phone}}/>
      <input [(ngModel)]="updateUser.street" placeholder={{user.address}}/>
      <input [(ngModel)]="updateUser.city" placeholder={{user.city}}/>
      <input [(ngModel)]="updateUser.state" placeholder={{user.state}}/>
      <input [(ngModel)]="updateUser.zip" placeholder={{user.zip}}/>
      <div (click)="patchUser()">Update</div>
    </div>
  </div>
</div>
<div class = "petProfile">
  <div class = "profileHeader">
    <h3>Your Pets</h3>
  </div>
  <div class = "petList">
    {{pet.name}}
    <div (click) = "showPetPatchForm = !showPetPatchForm">Update Pet Info</div>
    <div *ngIf = "showPetPatchForm">
      <input [(ngModel)] = "updatePet.name" placeholder={{pet.name}}/>
      <input [(ngModel)] = "updatePet.species" placeholder={{pet.species}}/>
      <input [(ngModel)] = "updatePet.birthyear" placeholder={{pet.birthyear}}/>
      <input [(ngModel)] = "updatePet.notes" placeholder={{pet.notes}}/>
      <div (click) = "patchPet()">Update</div>
    </div>
  </div>
</div>
<div class = "profileHeader">
  <h3>Appointments</h3>
  <div class = "nav-link"><a [routerLink] = "['/appointment']">make appointment</a></div>
</div>
<div>
  <ul class = "profileAppointments">
    <h4>Scheduled</h4>
    <li>
      <table>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Service</th>
          <th>Notes</th>
          <th></th>
          <th></th>
        <tr>
          <td>{{appointment.date}}</td>
          <td>{{appointment.time}}</td>
          <td>{{appointment.service}}</td>
          <td>{{appointment.notes}}</td>
          <td><button (click) = "patchAppointment()">Edit</button></td>
          <td><button (click) = "deleteAppointment()">Cancel</button></td>
        </tr>
      </table>
    </li>
  </ul>
</div>

<!-- Link to add more pets -->
  <!-- <div (click)="petRegister()">Add another Pet</div> -->


<!-- List Upcoming Appointments -->
