<h2>Hiya Jimmy</h2>

<div class="appointmentslist">
  <select name="appointmentdate">
    <option value="1">7/30/2017</option>
    <option value="2">7/31/2017</option>
    <option value="3">8/1/2017</option>
    <option value="4">8/2/2017</option>
    <option value="5">8/3/2017</option>
    <option value="6">8/4/2017</option>
    <option value="7">8/5/2017</option>
  </select>
  <table>
    <tr>
      <th>Date</th>
      <td>7/30/2017</td>
      <th>Time</th>
      <td>9am - 12p</td>
      <th>Address</th>
      <td>1727 S Indiana Apt. 208</td>
    </tr>
    <tr>
      <th>Owner</th>
      <td>Dave Smith</td>
      <th>Phone</th>
      <td>312-897-7890</td>
      <th>Email</th>
      <th>dave.smith@home.com</th>
    </tr>
    <tr>
      <th>Pet Name</th>
      <td>Jack</td>
      <th>Service</th>
      <td>Cat - 30 min</td>
      <th>Extras</th>
      <td>Litter Change</td>
    </tr>
    <tr>
      <th>Notes</th>
      <td colspan="5">Refill food and water, he likes the toy on the shelf but is lazy</td>
    </tr>
  </table>
  <button>Complete</button>
</div>
