<p id = "phone">Phone: 312-905-4444</p>
<p id = "email">email: <a href="SouthLoopCatCare@gmail.com?Subject=Qquestions..." target="_top">SouthLoopCatCare@gmail.com</a></p>

<h3 class = "sectionHeader">Connect with us on social media</h3>
  <a class="contact" href="http://www.facebook.com"><img alt="facebook" id="fb" src="../../assets/fb.png"></a>
  <a class="contact" href="http://www.instagram.com"><img alt="instagram" id="instagram" src="../../assets/instagram.jpeg"></a>
  <a class="contact" href="http://www.twitter.com"><img alt="twitter" id="twitter" src="../../assets/twitter.jpeg"></a>
